extends baseEmail

block content
    h2 ูุฑุญุจุง #{firstName} ๐
    p ุดูุฑุงู ูุชุณุฌููู ูู ูููุนูุง.
    p ูุชูุนูู ุญุณุงุจูุ ุงุถุบุท ุงูุฑุงุจุท ุงูุชุงูู:
    a(href= url) ูุนู ุญุณุงุจู ุงูุขู
    p ุฅุฐุง ูู ุชูู ุจุฅูุดุงุก ุญุณุงุจุ ุชุฌุงูู ูุฐู ุงูุฑุณุงูุฉ.
